In [28]:
from num2words import num2words

#format is number XXX CURRENCY -> 2500 EUR
def convert_price_to_word(price):
    price = price.replace('.', '').replace(',', '.')
    
    if len(price.split(' ')) < 2:
        print(price)
    elif ("TL") in price:
        price_and_currency = price.split()
        return num2words(price_and_currency[0]) + " " + price_and_currency[1]
    else:
        price_and_currency = price.split()
        return num2words(price_and_currency[1]) + " " + price_and_currency[0]

In [30]:
convert_price_to_word('256.85TL')

25685TL

In [25]:
convert_price_to_word('€ 1,50')

'one point five €'