In [1]:
from num2words import num2words

#format is number XXX CURRENCY -> 2500 EUR
def convert_price_to_word(price):
    price = price.replace('.', '').replace(',', '.')
    
    if len(price.split(' ')) < 2:
        print(price)
    elif ("TL") in price:
        price_and_currency = price.split()
        return num2words(price_and_currency[0]) + " " + price_and_currency[1]
    else:
        price_and_currency = price.split()
        return num2words(price_and_currency[1]) + " " + price_and_currency[0]

In [2]:
convert_price_to_word('256.85 TL')

'twenty-five thousand, six hundred and eighty-five point zero TL'

In [3]:
convert_price_to_word('€ 1,50')

'one point five €'

In [4]:
##format is number XXX CURRENCY -> 2500, EUR
def convert_price_to_amount_and_currency(price):
    price = price.replace('.', '').replace(',', '.')
    
    if len(price.split(' ')) < 2:
        print(price)
            
    elif ("TL") in price:
        price_and_currency = price.split()
        return price_and_currency[0], price_and_currency[1]
    else:
        price_and_currency = price.split()
        return price_and_currency[1], price_and_currency[0]

In [5]:
a = convert_price_to_amount_and_currency('256,85 TL')

In [6]:
a

('256.85', 'TL')