In [1]:
import pandas as pd

In [2]:
days = [1,1,1,1,1,1,2,2,2,2,3,3]
months = ['january', 'january', 'january', 'january', 'january', 'january','february','february','february','february', 'march', 'march']

In [3]:
d = {'Month':months,'Day':days}

In [4]:
df = pd.DataFrame(d)

In [5]:
df

    Day     Month
0     1   january
1     1   january
2     1   january
3     1   january
4     1   january
5     1   january
6     2  february
7     2  february
8     2  february
9     2  february
10    3     march
11    3     march

In [6]:
df.groupby('Month').count()

          Day
Month
february    4
january     6
march       2

In [7]:
sampled = df.groupby('Month').apply(lambda x: x.sample(frac=0.5))
sampled.groupby('Month').count()

/usr/lib/python3/dist-packages/ipykernel_launcher.py:2: FutureWarning: 'Month' is both a column name and an index level.
Defaulting to column but this will raise an ambiguity error in a future version

          Day
Month
february    2
january     3
march       1